.MuiInputBase-root {
  height: 4rem;
  margin: 1rem 0;

  & input {
    font-size: 2rem;
  }
}

.app {
  background-color: #fafafa;
  height: 100vh;

  &__header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1.5rem;
    background-color: white;
    border-bottom: 0.1rem solid lightgray;
    object-fit: contain;
    display: flex;
    justify-content: space-between;

    &-image {
      object-fit: contain;
    }

    &-right {
      display: flex;
    }
  }

  &__logout {
    margin-right: 2rem !important;
    font-size: 1.8rem !important;

    &:hover {
      background-color: #bdbdbd !important;
      color: white;
    }
  }

  &__login {
    display: flex;
    flex-direction: column;
    height: 100%;

    &-login {
      margin-top: 9rem !important;
    }

    & button {
      margin-top: 3rem;
      height: 5rem;
      font-size: 2rem;

      &:hover {
        background-color: #bdbdbd;
        color: white;
      }
    }

    &-home {
      &-login {
        margin-right: 2rem !important;
      }

      button {
        font-size: 1.8rem;

        &:hover {
          background-color: #bdbdbd;
          color: white;
        }
      }
    }
  }

  &__posts {
    padding: 2rem;
    display: flex;
    justify-content: center;

    &-right {
      margin-left: 2rem;
    }
  }
}
