.imageupload {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 1rem auto;

  &__progress {
    height: 2rem;
    width: 100%;
  }

  &__select {
    &:focus {
      outline: none;
    }
  }

  &__button {
    height: 4rem;
    width: 8rem;
    margin-left: 8rem !important;
    font-size: 1.5rem !important;

    &:hover {
      background-color: #bdbdbd !important;
      color: white;
    }
  }
}
