.post {
  background-color: white;
  max-width: 50rem;
  border: 0.1rem solid lightgray;
  margin-bottom: 4.5rem;

  &__header {
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;

    & h3 {
      font-size: 1.5rem;
    }

    &-avatar {
      margin-right: 1rem;
    }
  }

  &__image {
    width: 100%;
    object-fit: contain;
    border-top: 0.1rem solid lightgray;
    border-bottom: 0.1rem solid lightgray;
  }

  &__text {
    font-size: 1.4rem;
    font-weight: normal;
    padding: 1rem 2rem;

    strong {
      margin-right: 0.5rem;
    }
  }

  &__comments {
    padding: 1.5rem 2rem;
    font-size: 1.2rem;

    & p {
      margin: 0.5rem 0;

      strong {
        margin-right: 0.5rem;
      }
    }
  }

  &__comment-box {
    display: flex;
    margin-top: 1rem;
  }

  &__input {
    flex: 1;
    border: none;
    padding: 1rem;
    border-top: 0.1rem solid lightgray;

    &:focus {
      outline: none;
    }
  }

  &__button {
    width: 10rem;
    color: #6082a3;
    font-size: 1.8rem;
    cursor: pointer;
    border: none;
    border-top: 0.1rem solid lightgray;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: white;
      background-color: #bdbdbd;
    }
  }
}
